%form(action="test_1" method="POST")
    %select(name="myselect" id="myselect" onchange="this.form.submit()")
        %option(value="1") One
        %option(value="2") Two
        %option(value="3") Three
        %option(value="4") Four
